* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score{
    font-size: 4rem;
    margin: 1rem;
}
.computer-choice{
    background-color: #fff;
    width: 240px;
    height: 240px;
    margin: 1rem 0;
    border-radius: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.user-choice{
    background-color: #fff;
    width: 240px;
    height: 240px;
    margin: 1rem 0;
    border-radius: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.user-choices{
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 80px;
    margin-top: 2rem;
}
.user-choices img{
    width: 80px;
    height: 80px;
}
.opt-style{
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}